<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastrar empresa</title>
</head>
<body>
<div class="container text-center">

    <h1>Cadastro</h1>

    <div class="container form-container">
        <form method="post" role="form" th:action="@{/company/create}" th:object="${company}">
            <div class="form-input-area">
                <label for="company-name">Nome da Empresa:</label>
                <input
                        type="text"
                        name="company-name"
                        id="company-name"
                        th:field="*{companyName}"
                >
            </div>

            <div class="form-input-area">
                <label for="company-email">Email da Empresa:</label>
                <input
                        type="email"
                        name="company-email"
                        id="company-email"
                        th:field="*{companyEmail}"
                >
            </div>

            <div class="form-input-area">
                <label for="company-password">Senha da Empresa:</label>
                <input
                        type="password"
                        name="company-password"
                        id="company-password"
                        th:field="*{companyPassword}"
                >
            </div>

            <input type="submit" value="Cadastrar" class="btn btn-primary">
        </form>
    </div>
</div>
</body>
</html>