<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h2>Testando autenticação</h2>

    <table>
        <thead>
            <tr>
                <th>Logado</th>
                <th>Company Id</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:if="${isLogged}">Logado</td>
                <td th:unless="${isLogged}">Não Logado</td>

                <td th:if="${companyId}" th:text="${companyId}"></td>
                <td th:unless="${companyId}">Valor não declarado!</td>
            </tr>
        </tbody>
    </table>
</body>
</html>